.app-card{
    width:30%;
    height:20%;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    float:left;
    margin:20px;
    text-align: center;
   
}
.card-img-top{
    height: 250px;
    width:250px;
    padding: 20px 0px 20px 0px;
}
.card-text{
    font-weight: bold;
}