/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial !important;
 }
 .card{
    width:30%;
    height:20%;
    margin:auto;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    border-radius: 10px;
    margin-top:7%;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
}
.login-form label{
  margin:10px;
}
.login-form .middle {
    display: inline-block;
    text-align: center;
}

.login-form input{
    margin:10px;
    border:none;
    height:25px;
    border-bottom: 2px solid #3f51b5;;
    outline:none;
    font-size: 16px;
}

.login-form button{
    color:white;
    background-color: #3f51b5;
    border-radius: 10px;
    line-height: 36px;
    margin-top:40px;
    cursor: pointer;
    outline: none;
}
.reg-link{
   margin-top:10px;
   text-align: right;
}
