<div class="card">
    <div class="link-box-top">
        <span class="middle"><h2>Edit Employee Details</h2></span>
    </div>
   
  <div class="login-form">
    <label>Id</label>
    <input type="text" [ngModel]="employee.id" disabled/>
    <label>Username</label>
    <input type="text" [(ngModel)]="employee.username" />
    <label>Full Name</label>
    <input type="text" [(ngModel)]="employee.fullName" />
  </div>

  <div class="link-box">
      <a class="link green" (click)="saveEmployee()">Save</a>
      <a class="link red" (click)="goBack()">Cancel</a>
    </div>
</div>